BODY {
	FONT-SIZE:9pt;
	FONT-FAMILY:±¼¸²,±¼¸²ü,helvetica,Vernada;

	scrollbar-face-color:#F0F0F0;
	scrollbar-shadow-color:gray;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#F0F0F0;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-track-color:#F0F0F0;
	scrollbar-arrow-color:#999999
}

TD  { FONT-SIZE:9pt; COLOR:#555555; FONT-FAMILY:±¼¸²,±¼¸²ü,helvetica,Vernada;}

SELECT { FONT-SIZE:9pt; FONT-FAMILY:±¼¸²,±¼¸²ü,helvetica,Vernada;  COLOR:#000000; BACKGROUND-COLOR:#FFFFFF;}

.SubTitle {
	padding-right:3px;
	padding-top:3px;
	border:1px outset;
	background-color:#7494BA;
	color:#ffffff;
}

.SubTitle_C {
	padding-right:3px;
	padding-top:3px;
	border:1px outset;
	background-color:#7494BA;
	color:#ffffff;
	text-align : center;
}

.BoxButton_1  {
	height : 20px;
	FONT-SIZE:9pt;
	FONT-FAMILY:±¼¸²,±¼¸²ü,helvetica,Vernada;
}

.BoxLabel_1  {
	padding-right : 3px;
	padding-top : 3px;
	border : 1px outset;
	background-color : #CEDEEF;
	color : #3D587A;
}

.BoxLabel_2  {
	padding-right : 3px;
	padding-top : 3px;
	border : 1px inset;
}

.BoxText_1_noline  {
	padding-right : 0px;
	padding-top : 0px;
	border: 0px;
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
	color:#000000;
	text-align : right;
}


.BoxText_1  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
	color:#000000;
}

.BoxText_1_BOLD  {
	padding-right : 2px;
	padding-top : 2px;
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
	color:#000000;
	font-weight:bold;
}

.BoxText_1_BOLD_TE  {
/*
padding-right : 2px;
	padding-top : 2px;
*/
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
	color:#000000;
	font-weight:bold;
}

.BoxText_1_RED  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #FFE2FF;
	font-color:#FF0033;
}

.BoxText_1_RED_BOLD  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #FFE2FF;
	font-color:#FF0033;
	font-weight:bold;
}

.BoxText_1_RED_BOLD_TE  {
/*
	padding-right : 3px;
	padding-top : 3px;
*/
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #FFE2FF;
	font-color:#FF0033;
	font-weight:bold;
}

.BoxText_1_RED_2  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;	
	FONT-SIZE:9pt;
	background-color : #FFEFFF;
	font-color:#FF0033;
}

.BoxText_1_C  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
    color:#000000;
	text-align : center;
}

.BoxText_1_C_BLUE  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #FFE4E1;
    color:#000000;
	text-align : center;
}


.BoxText_1_R  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
	color:#000000;	
	text-align : right;
}

.BoxText_2  {
	FONT-SIZE:9pt;
	background-color : #FFFFFF;
}

.BoxText_2_C  {
	FONT-SIZE:9pt;
	background-color : #FFFFFF;
	text-align : center;
}

.BoxText_2_R  {
	FONT-SIZE:9pt;
	background-color : #FFFFFF;
	text-align : right;
}

.BoxText_2_S  {
	FONT-SIZE:9pt;
	background-color : #FCFBE4;
}

.BoxLabel_1_C  {
	padding-left : 3px;
	padding-right : 3px;
	padding-top : 3px;
	border : 1px outset;
	background-color : #CEDEEF;
	color : #3D587A;
	text-align : center;
}


.BoxText_3  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #11ccdd;
	color:#000000;	
	text-align : center;	
}

.BoxText_4_C  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
    color:#0000FF;
	text-align : center;
}

.BoxText_5_C  {
	padding-right : 3px;
	padding-top : 3px;
	border: 1px solid #D9D9D9;
	FONT-SIZE:9pt;
	background-color : #F7F7F7;
    color:#FF0000;
	text-align : center;
}


.BoxLabel_1_R  {
	padding-left : 3px;
	padding-right : 3px;
	padding-top : 3px;
	border : 1px outset;
	background-color : #CEDEEF;
	color : #3D587A;
	text-align : right;
}


A { textT-decoration:none; }
A:link, :visited { text-decoration: none; color:#555555; line-height: 17px;}
A:hover { text-decoration: none; color:#0066CC; line-height: 17px;}




